<ion-header>

    <ion-navbar>
        <ion-row>
            <ion-col col-11>
                <ion-title>{{username}}</ion-title>
            </ion-col>
            <ion-col col-1>
                <ion-icon name="options" (click)="openMenu()"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-list *ngFor="let msg of msgs" no-lines>
        <ion-item *ngIf="msg.env == 'd'" style="text-align:right">{{msg.msg}}</ion-item>
        <ion-item *ngIf="msg.env == 'm'">{{msg.msg}}</ion-item>
    </ion-list>
</ion-content>

